<div class="main-wrapper">
  <h1>Our Story</h1>
  <div>
    <p>
      Our Story We believe in good. We launched Fresh Pan Pizza Best Excuse
      Awards on our Facebook fan page. Fans were given situations where they had
      to come up with wacky and fun excuses. The person with the best excuse won
      the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic
      response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza.
      Ever!
    </p>
    <p>
      Ever since we launched the Tastiest Pan Pizza, ever, people have not been
      able to resist the softest, cheesiest, crunchiest, butteriest Domino's
      Fresh Pan Pizza. They have been leaving the stage in the middle of a
      performance and even finding excuses to be disqualified in a football
      match.
    </p>
    <p>
      We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
      Fans were given situations where they had to come up with wacky and fun
      excuses. The person with the best excuse won the Best Excuse Badge and won
      Domino's vouchers. Their enthusiastic response proved that Pizzeria's
      Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p>
  </div>
  <div>
    <div>
      <img
        src="https://www.shutterstock.com/shutterstock/photos/2583868243/display_1500/stock-photo-closeup-of-chef-making-pizza-in-restaurant-closeup-of-pizza-preparation-2583868243.jpg"
        alt="ingredients"
      />
    </div>
    <div class="content-row">
      <h2>Ingredients</h2>
      <p>
        We're ruthless about goodness. We have no qualms about tearing up a
        day-old lettuce leaf (straight from the farm), or steaming a baby
        (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're
        still young and fresh - that's our motto. It makes the kitchen a better
        place.
      </p>
    </div>
  </div>
  <div>
    <div>
      <img
        src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg"
        alt="our chef"
      />
    </div>
    <div class="content-row reverse">
      <h2>Our Chef</h2>
      <p>
        They make sauces sing and salads dance. They create magic with skill,
        knowledge, passion, and stirring spoons (among other things). They make
        goodness so good, it doesn't know what to do with itself. We do though.
        We send it to you.
      </p>
    </div>
  </div>
  <div class="content-row">
    <div>
      <img
        src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg"
        alt="delivery time"
      />
    </div>
    <div>
      <h2>45 min Delivery</h2>
    </div>
  </div>
</div>
